/* 
WRITTEN BY: Aaron Lam
*/

@import url("https://fonts.googleapis.com/icon?family=VT323&display=swap");

@keyframes heading-change {
  0% {
    color: #000000;
  }
  50% {
    background: linear-gradient(#9b69f1, #db708f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    color: #000000;
  }
}

/*  horizontal line that separates projects */
hr {
  width: 85%;
  margin-top: 20px;
}

video {
  padding: 0;
  margin: 0;
}

/*  -- PROJECTS SECTION -- */
.projects-section {
  font-size: 1.3em;
}

.projects-section h2 {
  font-family: VT323, Consolas, sans-serif;
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 0;
  /* animation: heading-change 1s infinite; */
}

.projects-section p {
  margin-left: 15%;
  margin-right: 15%;
}

.projects-section a {
  text-decoration: none;
}

.projects-section .fab {
  border: 5px dashed #BB0055;
  border-radius: 50%;
  padding: 8px;
  color: #000000;
}

.projects-section .fab:hover {
  border-style: solid;
  background-color: #000000;
  color: #FFFFFF;
}

/*  -- MEDIA QUERIES --  */
/*  for most phones */
@media all and (max-width: 540px) {
  hr {
    width: 500px;
  }

  .projects-section h2, p, img, video{
    text-align: left;
  }

  .projects-section a {
    float: left;
    margin: 0 0 5px 2px;
  }

  .projects-section p {
    width: 360px;
    margin-left: 5px;
  }

  .projects-section h2 {
    margin-left: 5px;
  }
}